{#
/**
* @file
* Marinelli's theme implementation to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template normally located in the
* path_to_marinelli/theme/templates
*
* @see template_preprocess_page()
* @see html.html.twig
*/
#}
{# <!--start framework container--> #}
     {% if page.topbar %}
      <div id="topBarContainer" class="{{ layout_width }}">
        {{ page.topbar }}
      </div>
     {% endif %}



      <div id="topBar" class="outsidecontent">
      
       <div id="topBarLink" class="outsidecontent withoutTopRegion">
        ↑ Slide Up
      </div> 
    </div>
     
<div class="container_12 {{ layout_width }}" id="totalContainer">

  <!-- {% if page.topbar %} -->
    {# <!--start top bar--> #}
   <!--  <div id="topBar" class="outsidecontent">
      
       <div id="topBarLink" class="outsidecontent withoutTopRegion">
        ↑ Slide Up
      </div> 
    </div> -->
     

    {#  {% if not topregion  %}
      <div id="topBarLink" class="outsidecontent withoutTopRegion">
        {{page.topBarLink}}
      </div>
    {% endif %} #}
  <!-- {% endif %} -->
  
  <div class="container_12">

    <div class="grid_9">
    {% if page.sitebranding %}
        {# <!--start search--> #}
        <div id="sitebranding">
          {{ page.sitebranding }}
        </div>
        {# <!--end search--> #}
    {% endif %}
    </div>

    <div class='grid_3'>
    {% if page.search %}
        {# <!--start search--> #}
        <div id="search">
          {{ page.search }}
        </div>
        {# <!--end search--> #}
    {% endif %}
    </div>

  </div>

   <div class='grid_12'>
    {% if page.primary_menu %}
        {# <!--start search--> #}
        <div id="primarymenu">
          {{ page.primary_menu }}
        </div>
        {# <!--end search--> #}
    {% endif %}

  </div>
  {% if page.secondary_menu %}
      <div id="navigation-secondary" class="sitemenu">
        {{ page.secondary_menu }}
      </div>
  {% endif %}





  <div id="pageBorder" {{ noborder }}>
    {#
    /**
    *TODO : Header Imges Section
    *       Secondary Menu
    */ #}
    {# <!-- start contentWrapper--> #}
    {% if page.overcontent %}
      {# <!--start overcontent--> #}
      <div class="grid_12 outofContent" id="overContent">
        {{ page.overcontent }}
      </div>
      {# <!--end overContent--> #}
    {% endif %}


    <!-- <div id="header-images">
      <a href="{{ url('<front>') }}" class="active">
        <img  src="{{ url('<front>') }}{{ directory }}/images/advertise/1.jpg" alt="Description for image 2" title="Title for image 2">
      </a>


             </div> -->
      
    <div id="contentWrapper">
      {#
      /**
      * TODO : Bread Crum
      */
      #}
      {# <!--start innercontent--> #}
      <div id="innerContent">
        {# <!--start main content--> #}
        <div class="{{ context_class }}" id="siteContent">
          {% if page.overnode %}
            {# <!--start overnode--> #}
            <div class="outofnode" id="overNode">
              {{ page.overnode }}
            </div>
            {# <!--end over node--> #}
          {% endif %}
          {% if page.highlight %}
            <div id="highlight">
              {{ page.highlight }}
            </div>
          {% endif %}

          Marinelli
        <!--   {{ title_prefix }}
          {% if title  %}
            <h1 id="page-title">{{ title }}</h1>
          {% endif %}
          {{ title_suffix }}
          {{ messages }}
          {% if tabs  %}
            <div class="tab-container">
              {{ tabs }}
            </div>
          {% endif %}
          {{ page.help }}
          {% if action_links  %}
          <ul class="action-links">{{ action_links }}</ul>
        {% endif %} -->
        {# <!--start drupal content--> #}
        <div id="content">
          {{ page.content }}
        </div>
        {# <!--end drupal content--> #}
        {{ feed_icons }}
        {% if page.undernode  %}
          {# <!--start undernode--> #}
          <div class="outofnode" id="underNode">
            {{ page.undernode }}
          </div>
          {# <!--end under node--> #}
        {% endif %}
      </div>
      {# <!--end main content--> #}
      {% if (page.sidebar_first) or (page.sidebar_second) or ({ (layout_type_twig):options }!= 2) %}
        <div class="{{ wrapper_class }}" id="sidebarWrapper">
          {# <!--start oversidebars--> #}
          {% if page.oversidebars %}
            <div class="outofsidebars grid_6 alpha omega" id="overSidebars">
              {{ page.oversidebars }}
            </div>
          {% endif %}
          {# <!--end over sidebars--> #}
        {% endif %}
        <div class="grid_6">
        {% if page.sidebar_first %}
          {# <!--start first sidebar--> #}
          <div class="{{ sidebar_class1 }} sidebar" id="sidebar-first">
            {{ page.sidebar_first }}
          </div>
          {# <!--end first sidebar--> #}
        {% endif %}
        {% if page.sidebar_second %}
          {# <!--start second sidebar--> #}
          <div class=" {{ sidebar_class2 }} sidebar" id="sidebar-second">
            {# <!--start second sidebar--> #}
            {{ page.sidebar_second }}
          </div>
          {# <!--end second sidebar--> #}
        {% endif %}
      </div>
        {% if (page.sidebar_first) or (page.sidebar_second) or ({ (layout_type_twig):options }!= 2) %}
          {% if page.undersidebars  %}
            {# <!--start undersidebars--> #}
            <div class="outofsidebars grid_6 alpha omega" id="underSidebars">
              {{ page.undersidebars }}
            </div>
            {# <!--end under sidebars--> #}
          {% endif %}
        </div>
        {# <!--end sidebarWrapper--> #}
      {% endif %}
    </div>
    {# <!--end innerContent--> #}
    {% if page.undercontent  %}
      {# <!--start underContent--> #}
      <div class="grid_12 outofContent" id="underContent">
        {{ page.undercontent }}
      </div>
      {# <!--end underContent--> #}
    {% endif %}
  </div>
  {# <!--end contentWrapper--> #}
</div>
{# <!--close page border Wrapper--> #}
{% if page.footer or page.utility_bottom %}
  {# <!--start footer--> #}
  <div id="footer" class="outsidecontent">
    {{ page.footer }}
    <div class="utility" id="bottomUtility">
      {{ page.utility_bottom }}
    </div>
    {# <!--end bottom utility box--> #}
  </div>
  {# <!--end footer--> #}
{% endif %}
</div>





























